# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGODB_DATABASE=nftscout
MONGODB_COLLECTION_TRANSACTION=transactions
MONGODB_COLLECTION_ERROR=errors
FETCH_DURATION="60" 
GAS_LIMIT="300000"
PRIVATE_KEY="your_private_key_here"
RPC_URL="https://mainnet.base.org"

# API Configuration
OPENSEA_API_KEY=your_opensea_api_key_here
OPENSEA_BASE_URL=https://api.opensea.io/api/v2
ALCHEMY_API_KEY=your_alchemy_api_key_here
ALCHEMY_BASE_URL=https://eth-mainnet.g.alchemy.com/nft/v3